#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 12px 0px;
    margin-bottom: 10px;
    margin-top: -10px;
}

#friends-display-link i {
    opacity: 0.3;
    font-size: 15px;
}

#friends-display-link i:last-child {
    font-size: 10px;
    margin-left: 10px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}