.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    position: relative;
}

.nav__link i {
    font-size: 26px;
}

.nav__notification {
    position: absolute;
    left: 13px;
    bottom: 13px;
}

.nav__dot {
    background-color: tomato;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    position: absolute;
    left: 23px;
    bottom: 22px;
}